header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    backdrop-filter: blur(10px);
    background: rgba(228, 227, 225, 0.1);
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    font-family: 'Neris';
    z-index: 999;
    list-style: none;
    cursor:pointer;

}
